<div class="container">
  <div class="row vh-100 align-items-center">
    <div class="w-25 m-auto">
      <form action="answer" data-turbo="false">
        <div class="mb-3">
          <label for="questionInput" class="form-label col-form-label-lg">Ask your coach anything</label>
          <input type="text" class="form-control form-control-lg" id="questionInput" aria-describedby="question" name="question" placeholder="Your question here">
        </div>
        <button type="submit" class="btn btn-primary w-100">Ask!</button>
      </form>
    </div>
  </div>
</div>